#project-gallery{
    background: rgb(221, 225, 233);
}

#project-gallery-title{
    background: rgb(202, 195, 195);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.project-card{
    align-items: center;
    background: #353F52;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.card-image{
    width: 100%;
}


.card-text-container{
    align-items: center;    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.card-title{
    font-size: 1.3em;
}

.card-description{
    font-size: 1.1em;
}


.adding-information{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.adding-information-links-container{
    display: flex;
    gap: 25px;
}

.adding-information-icon-image{
    width: 30px;
}

.card-text-container, .adding-information{
    width: 90%;
}