#footer{
    background-color: var(--blue);
}

#main-content-footer{
    color: var(--white);
    padding: 80px;
}

#container-message-submenu{
    display: flex;
    justify-content: space-between;
}

#container-message-submenu > #leave-message-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 40%;
    gap: 30px;
}

#container-message-submenu > #leave-message-content > #contact-title{
    font-weight: bold;
    font-size: 1.1em;
}

#container-message-submenu > #leave-message-content > .send-message{
    display: flex;
    flex-direction: column;
}

#write-contact-message{
    padding-top: 35px;
    resize: none;
} 

.text-field{
    width: 80%;
    height: 85px;
    background: var(--gray-blue);
    color: var(--white);
    padding: 0 15px 0;
}

#button-send-message{
    width: 22%;
    padding: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--gray-blue);
    color: var(--white);
}
#button-send-message:hover{
    background: var(--light-gray-blue);
}

#signature{
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--white);
    color: var(--white);
    font-size: 1.1em;
}