@media screen and  (max-width:768px){

    #banner-main-content{
        height: 400px;
    }

    .banner-subtitle{
        font-size: 1.3em;
    }

    #profile-image{
        width: 200px;
        height: 200px;
    }
}

@media screen and  (max-width:425px){

    #banner{
        padding: 25px;
    }

    #banner-main-content{
        /* diminuição da altura */
        height: 300px;

        flex-direction: column-reverse;

        /* alinhamneto da foto e do texto na tela */
        justify-content: center;

        /* espaçamento entre a foto e o texto */
        gap: 20px;
    }

    #banner-container-social-media-icons{
        display: none;
    }

    #banner-content-text{
        width: 100%;

        /* deixei a altura suficiente para o tamanho do conteúdo */
        height: fit-content;

        justify-content: normal;

        /* espaço entre o title e o subtitle */
        gap: 20px;

        /* alinhamento do title e subtitle */
        align-items: center;
    }

    #banner-title{
        text-align: center;
    }

    #container-banner-subtitle{
        width: 100%;
        height: 100%;
        justify-content: normal;
    }

    .banner-subtitle{
        font-size: 0.7em;
        text-align: center;
    }

    #profile-image{
        width: 130px;
        height: 130px;
    }
}