/* All banner container */
#banner-main-content{
    display: flex;
    flex-direction: row;
    background-color: #283247;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

#profile-image{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

/* All container text - banner content */
#banner-content-text{
    color: #FFFFFF;
}

.banner-subtitle{
    font-weight: normal;
}


/* Social media container */
#container-social-media-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.icon-image{
    width: 30px;
    height: 30px;
}


