/* All banner container */
#banner-main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
}

/* Social media container */
#container-social-media-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 10%;
    align-items: center;
}

.content-icon{
    height: 40px;
}

.icon-image{
    width: 30px;
    height: 30px;
}
.icon-image:hover{
    width: 33px;
    height: 33px;
}

#instagram{
    margin-right: 5px;
}

/* Banner text container */
#banner-content-text{
    color: #FFFFFF;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-banner-subtitle{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#banner-title{
    font-size: 2.5em;
}

.banner-subtitle{
    font-weight: normal;
    font-size: 1.8em;
}


#profile-image{
    width: 300px;
    height: 300px;
    border-radius: 100%;
}