 #banner > #banner-header > #portfolio-side-menu-header{
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: end;
}

#portfolio-side-menu-header > #content-list-menu{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    padding: 15px;
}

ul > .content-menu-item{
    color: #F5F5F5;
}

.content-menu-item > .menu-item-link{
    color: #F5F5F5;
    font-weight: 500;
}

.menu-item-link:hover{
    color: #dedbdb;
    border-bottom: 2px solid #F5F5F5;
    padding-bottom: 5px;
}

#banner-header{
    background-color: #43506C;
}
