.social-media-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner-container-social-media-icons{
    flex-direction: column;
    height: 40%;
    width: 10%;
}

#footer-container-social-media-icons > .content-icon{
    width: 30%;
}

#footer-container-social-media-icons{
    margin-top: 40px;
}

.content-icon{
    height: 40px;
}

.icon-image{
    width: 30px;
    height: 30px;
}
.icon-image:hover{
    width: 33px;
    height: 33px;
}

#instagram{
    margin-right: 5px;
}