#portfolio-mobile-side-menu-header{
    display: none;
}

@media screen and  (max-width:768px){
    #portfolio-side-menu-header > #content-list-menu{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    #portfolio-mobile-side-menu-header{
        display: block;
    }
    #portfolio-side-menu-header{
        display: none;
    }
}
