#portfolio-mobile-side-menu-header{
    display: none;
}

@media screen and  (max-width:768px){
    #portfolio-side-menu-header > #content-list-menu{
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    #portfolio-mobile-side-menu-header{
        display: block;
    }
    #portfolio-side-menu-header{
        display: none;
    }

    #portifolio-submenu-footer > #content-list-menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
   }
   #portifolio-submenu-footer{
    flex-direction: row;
    font-size: 0.7em;
    line-height: 0px;
}
}


