@media screen and (max-width:1024px){
    #main-content-footer{
        padding: 50px 80px;
    }

    .text-field{
        width: 100%;
        height: 65px;
    }

    #container-message-submenu > #leave-message-content{
        width: 50%;
    }
        
    #write-contact-message{
        padding-top: 25px;
    }
}

@media screen and (max-width:425px){
    #banner-main-content{
        height: 350px;
    }

    #main-content-footer{
        color: #ffffff;
        padding: 40px;
    }

    #container-message-submenu{
        flex-direction: column;
    }

    #container-message-submenu > #leave-message-content{
        width: 100%;
    }

    #container-message-submenu > #leave-message-content > #contact-title{
        text-align: center;
        font-size: 1em;
    }
    
    #write-contact-message{
        padding-top: 14px;
    }

    .text-field{
        width: 100%;
        height: 45px;
    }

    
    #button-send-message{
        width: 25%;
    }
    
    .email-message-title, .text-field,  #button-send-message{
        font-size: 0.7em;
    }

    #footer-container-social-media-icons{
        display: none;
    }

    #signature{
        font-size: 0.8em;
        padding: 15px 0;
    }

}